{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h3>
        Project Information
    </h3>
    <div class="left">
        <h4>Description</h4>
            <p>
                Project: Backtest. Digest. Invest.
            </p>
            <p>
                Hello! My name is René Monteiro, and I'm from Brisbane, Australia.
            </p>
            <p>
                With an unprecedented influx of new investors to the stock market, there is a greater need to have more available tools and information to allow them to make more informed investment decisions. This web application aims to assist new investors to the stock market with information related to different investment strategies.
            </p>
            <p>
                This website provides comparisons of investment styles and their historical performance to show the advantages and disadvantages of various investment strategies, in this case over a 2 year period.
            </p>
    </div>
    <div class="left">
        <h4>Web Application Tools/Libraries Used</h4>
        <p>
            <ul>
                <li>
                    From the course: Python, HTML, CSS, Flask, SQLite3, jinja2, Bootstrap, AJAX, jquery
                </li>
                <li>
                    chart.js: <a href="https://www.chartjs.org/">https://www.chartjs.org/</a>
                </li>
                <li>
                    yfinance: <a href="https://github.com/ranaroussi/yfinance">https://github.com/ranaroussi/yfinance</a>
                </li>
                <li>
                    pandas: <a href="https://pandas.pydata.org/">https://pandas.pydata.org/</a>
                </li>
            </ul>
        </p>
    </div>
{% endblock %}